/* Write your CSS here */

.list-container {
  border: 1px solid #b5b7c4;
  border-radius: 10px;
  padding: 10px 10px 16px 10px;
  margin: 5px;
  width: 200px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-n {
  font-size: 20px;
  font-weight: bold;
}

.row-apart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-date-show {
  margin: 0px;
  font-size: 10px;
  font-weight: 300;
  color: #b5b7c4;
}
.star {
  background-color: transparent;
}
